<!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <title>GroceryStore</title>
    </head>
    <body>
        <div class="navbar navbar-inverse bg-inverse" role="navigation">
            <h2>
                @Html.ActionLink("GROCERY STORE", "List", "Category")
            </h2>
        </div>
        <div class="row m-1 р-1">
            <div id="categories" class="col-3">
                Put something useful here later
            </div>
            <div class="col-9">
                @RenderBody()
            </div>
        </div>
    </body>
</html>
