@model Order

<h2>Оформление заказа</h2>
<p>Заполните приведенные ниже поля</p>
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Checkout" method="post">
    <h3>Кому доставить</h3>
    <div class="form-group">
        <label>Имя:</label><input asp-for="Name" class="form-control" />
    </div>
    <h3>Адрес</h3>
    <div class="form-group">
        <input asp-for="Address" class="form-control" />
    </div>
    <h3>Способ оплаты</h3>
    <div class="from-group">
        <label>
            @Html.RadioButtonFor(m => m.Payment, 1)
            Наличными при получении
        </label>
        <label>
            @Html.RadioButtonFor(m => m.Payment, 2)
            Картой при получении
        </label>
    </div>
    <div class="test-center">
        <input class="btn btn-primary" type="submit" value="Оформить заказ"/>
    </div>
</form>